body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

/* Theme */
.primary-custom {
  background-color: #19345e;
}

.secondary-custom {
  background-color: #46ba71;
}

.alt-custom {
  background-color: #f46953;
}

.dark-custom {
  background-color: #052825;
}

.hover-primary-custom:hover {
  background-color: #1a3bc3;
  color: white;
}

.hover-secondary-custom:hover {
  background-color: #32a65d;
  color: white;
}

.hover-alt-custom:hover {
  background-color: #e0553f;
  color: white;
}

/* Base Color */
.text-primary-custom {
  color: #19345e !important;
}

.text-secondary-custom {
  color: #1e1e1e !important;
}

.text-alt-custom {
  color: #969696;
}

.text-dark-custom {
  color: #ffffff;
}

.label-primary-custom {
  color: #bebebe;
}

.border-custom {
  border: 1px solid #b4b4b4;
}

.border-primary-custom {
  border: 1px solid #19345e;
}

.error-warning-custom {
  color: #e55454;
}

.success-custom {
  color: #1ed21a;
}

.bg-primary-custom {
  background-color: #ffffff;
}

.bg-secondary-custom {
  background-color: #e7ebfc;
}

.bg-dark-custom {
  background-color: #19345e;
}

.bg-input-custom {
  background-color: #dcdcdc;
}

@media (min-width: 992px) {
  .ps-lg-134 {
    padding-left: 134px !important;
  }
  .py-lg-145 {
    padding-top: 145px !important;
    padding-bottom: 145px !important;
  }
  .px-lg-120 {
    padding-left: 120px !important;
    padding-right: 105px !important;
  }
  .fs-lg-40 {
    font-size: 40px;
  }
  .w-lg-360 {
    width: 360px;
  }
  .fs-52 {
    font-size: 52px;
  }
  .py-lg-141 {
    padding-top: 141px !important;
    padding-bottom: 141px !important;
  }
  .py-lg-115 {
    padding-top: 115px !important;
    padding-bottom: 115px !important;
  }
  .mx-lg-120 {
    margin-left: 120px !important;
    margin-right: 105px !important;
  }
  .ps-lg-100 {
    padding-left: 100px;
  }
  .fs-lg-42 {
    font-size: 42px;
  }
  .fs-lg-32 {
    font-size: 32px;
  }
  .px-lg-100 {
    padding-left: 100px;
    padding-right: 100px;
  }
  .pb-lg-60 {
    padding-bottom: 60px;
  }
  .px-lg-110 {
    padding-left: 110px;
    padding-right: 110px;
  }
  .pt-lg-134 {
    padding-top: 134px !important;
  }
  .pe-lg-405 {
    padding-right: 405px !important;
  }
  .px-lg-165 {
    padding-left: 165px;
    padding-right: 165px;
  }
  .fs-lg-52 {
    font-size: 52px;
  }
  .px-lg-121 {
    padding-left: 121px;
    padding-right: 121px;
  }
  .py-lg-100 {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
  }
}

@media (max-width: 992px) {
  .gap-30 {
    gap: 30px;
  }
  .line-dashed-lg {
    width: 2px !important;
    height: 100px !important;
    border-top: none !important;
    border-left: 2px dashed #969696 !important;
    margin-left: 11px;
  }
}

@media (min-width: 1200px) {
  .fs-xl-64 {
    font-size: 64px;
  }
  .w-xl-420 {
    width: 420px;
  }
  .w-xl-400 {
    width: 400px !important;
  }

  .h-xl-500 {
    height: 500px !important;
  }
}

@media (min-width: 1400px) {
  .w-xxl-486 {
    width: 486px;
  }
}

@media (min-width: 576px) {
  .w-sm-72 {
    width: 72px !important;
    height: 72px !important;
  }
  .w-sm-54 {
    width: 54px !important;
    height: 54px !important;
  }
}

.btn-no-radius {
  border-radius: 0;
}

.fs-20 {
  font-size: 20px;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.rounded-full {
  border-radius: 50%;
}

.w-48 {
  width: 48px;
  height: 48px;
}

.pt-30 {
  padding-top: 30px;
}

.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.line-dashed {
  width: 100%;
  height: 2px;
  border-top: 2px dashed #969696;
}

.text-center {
  text-align: center;
}

.fs-18 {
  font-size: 18px;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #b4b4b4;
}

.w-90 {
  width: 90px;
  height: 90px;
}

.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.flex-1 {
  flex: 1;
}

.separator {
  width: 2px;
  background-color: white;
  margin: 0 10px;
  opacity: 40%;
}

.w-320 {
  width: 320px;
}

.h-400 {
  height: 400px;
}

.bg-image-1 {
  background-image: url("/assets/images/stock_photo.jpg");
  border-radius: 3px;
  background-size: cover;
  position: relative;
}

.bg-image-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 52, 94, 0.4);
  border-radius: 3px;
}

.w-196 {
  width: 196px;
}

.text-potition {
  position: absolute;
  left: 30px;
  bottom: 10px;
}

.w-65 {
  width: 65px;
}

.h-65 {
  height: 65px;
}

.flex-3 {
  flex: 3;
}
