body {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

/* Theme */
.primary-custom {
  background-color: #19345e;
}

.secondary-custom {
  background-color: #46ba71;
}

.alt-custom {
  background-color: #f46953;
}

.dark-custom {
  background-color: #052825;
}

.hover-primary-custom:hover {
  background-color: #1a3bc3;
  color: white;
}

.hover-secondary-custom:hover {
  background-color: #32a65d;
  color: white;
}

.hover-alt-custom:hover {
  background-color: #e0553f;
  color: white;
}

/* Base Color */
.text-primary-custom {
  color: #19345e;
}

.text-secondary-custom {
  color: #1e1e1e;
}

.text-alt-custom {
  color: #969696;
}

.text-dark-custom {
  color: #ffffff;
}

.label-primary-custom {
  color: #bebebe;
}

.border-custom {
  border-color: #b4b4b4;
}

.error-warning-custom {
  color: #e55454;
}

.success-custom {
  color: #1ed21a;
}

.bg-primary-custom {
  background-color: #ffffff;
}

.bg-secondary-custom {
  background-color: #e7ebfc;
}

.bg-dark-custom {
  background-color: #19345e;
}

.bg-input-custom {
  background-color: #dcdcdc;
}

@media (min-width: 992px) { /* min-large */
  .ps-lg-134 {
    padding-left: 134px !important;
  }
  .py-lg-145 {
    padding-top: 145px !important;
    padding-bottom: 145px !important;
  }
  .px-lg-120 {
    padding-left: 120px;
    padding-right: 105px;
  }
  .fs-lg-40 {
    font-size: 40px;
  }
  .w-lg-360 {
    width: 360px;
  }
  .fs-52 {
    font-size: 52px;
  }
  .py-lg-141 {
    padding-top: 141px !important;
    padding-bottom: 141px !important;
  }
}

@media (max-width: 992px) {
  .gap-30 {
    gap: 30px;
  }
}

@media (min-width: 1200px) {
  .fs-xl-64 {
    font-size: 64px;
  }
  .w-xl-420 {
    width: 420px;
  }
}

@media (min-width: 1400px) {
  .w-xxl-486 {
    width: 486px;
  }
}

@media (min-width: 576px) {
  .w-sm-72 {
    width: 72px !important;
    height: 72px !important;
  }
  .w-sm-54 {
    width: 54px !important;
    height: 54px !important;
  }
}

.btn-no-radius {
  border-radius: 0;
}

.fs-20 {
  font-size: 20px;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.rounded-full {
  border-radius: 50%;
}

.w-48 {
  width: 48px;
  height: 48px;
} 